name: Flutter - test and build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build_apk:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: disaster_relief_aid_flutter
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: "zulu"
          java-version: "11"
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.3.9"
      - run: flutter pub get
      - run: flutter test
      - run: flutter build apk
      - run: flutter build appbundle